$color-principal:#0F0F0F ;
$color-secundario:#EF3D59;
$color-claro:#fff;
$color-terciario:#A8A7A8;
$fuente1:'Lato', sans-serif;
$fuente2:'Oswald', sans-serif;
$fuentelogo:'Fredoka',sans-serif;
