.intro{
 margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  & img{
    width: 100%;
    position: relative;
  }
  & h2{
    position: absolute;
    color: $color-claro;
    font-family: $fuentelogo;
    letter-spacing: 10px;
    font-weight: 700;
    text-shadow: -6px 7px 5px #000000;
  }
}